@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

.button:hover {
    background-color: green;
    cursor: pointer;
}